{%extends "base.html"%}

{%block body%}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container my-4">

    <div class="row featurette mx-2">
        <div class="col-md-7 order-md-2 my-3">
            <p class="lead">Hello there👋,I am Meeth,a wanderning Machine Learning Enthusiast,I want to understand things clearly, and explain them well,i like to share blogs on Machine Learning,Deep Learning and various Computer Science subjects,i hope you get to learn
                some cool stuff from my blog Happy Learning!❤</p>
        </div>

        <div class="col-md-3 order-md-1 my-3">
            <img src="/static/img/dp4.png" width="450" height="250" class="d-block w-100" alt="...">
        </div>
    </div>

  <hr>

{%endblock body%}